<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>UserPage</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
<br/><br/>

<p th:text="${user.count}">value</p>
<p th:text="${user.name}">value</p>
<p th:text="${user.surname}">value</p>
<p th:text="${user.age}">value</p>
<p th:text="${user.email}">value</p>
<span th:text="${user.password}">value</span>
<span style="padding-left: 50px"> - пароль</span>
<br/><br/>
<span th:each="role : ${user.getAuthorities()}" id="role">
    <span th:text="${role.getAuthority().substring(5)}">roles</span><br/>

</span>

</body>
</html>